<div class="container">

<!-- Page Heading -->
<div class="row">
<div class="col-lg-12">
<h1 class="page-header">Top Rated Games
</h1>
</div>
</div>
<!-- /.row -->

<!-- Projects Row -->
<div class="row">
<div class="col-md-3 portfolio-item">
<!-- NOTE: place the popup src before the img class, b/c it affects the location of the popup on the webpage-->
<a href = "#">
<img src="/assets/ffxv/ffxv.png" alt="" class="tooltip" title="Final Fantasy XV is an open world action role-playing video game developed and published by Square Enix for the PlayStation 4 and Xbox One home consoles.">
</a> 
<a href="/games/2">
<img class="img-responsive" src="/assets/ffxv/ffxv.png" alt="">Final Fantasy XV
</a>


</div>
<div class="col-md-3 portfolio-item">
<img src="/assets/es5/elderscrolls5.png" alt="" class="tooltip" title="The Elder Scrolls V: Skyrim is an open world action role-playing video game developed by Bethesda Game Studios and published by Bethesda Softworks. ">
<a href="/games/3">
<img class="img-responsive" src="/assets/es5/elderscrolls5.png" alt="">The Elder Scrolls V: Skyrim
</a>
</div>
<div class="col-md-3 portfolio-item">
<a href = "#">
<img src="/assets/pokemonsun/pokemonsun.png" alt="" class="tooltip" title="Like the previous games, Pokemon Sun brings a plethora of Pokémon to the fold. These Pokémon make a larger value of Pokemon as the past generation and even Ultra Beasts.">
</a> 
<a href="/games/4">
<img class="img-responsive" src="/assets/pokemonsun/pokemonsun.png" alt="">Pokemon Sun
</a>

</div>
<div class="col-md-3 portfolio-item">
<a href = "#">
<img src="/assets/nioh/nioh.jpg" alt="" class="tooltip" title="Experience a new world of dark samurai fantasy developed by Koei Tecmo Games exclusively on PlayStation®4.">
</a> 
<a href="/games/5">
<img class="img-responsive" src="/assets/nioh/nioh.jpg" 
alt="">Nioh
</a>
</div>
</div>
<!-- /.row -->

<!-- Projects Row -->
<div class="row">
<div class="col-md-3 portfolio-item">
<a href="/games/6">
<img class="img-responsive" src="/assets/w3/w3.jpg" alt="">The Witcher 3: Wild Hunt
</a>
</div>
<div class="col-md-3 portfolio-item">
<a href="/games/8">
<img class="img-responsive" src="/assets/forhonor/forhonor.jpg" alt="">For Honor
</a>
</div>
<div class="col-md-3 portfolio-item">
<a href="/games/7">
<img class="img-responsive" src="/assets/ds3/ds3.jpg" alt="">Dark Souls III
</a>
</div>
<div class="col-md-3 portfolio-item">
<a href="/games/9">
<img class="img-responsive" src="/assets/gta5/gta5.jpg" alt="">Grand Theft Auto V
</a>
</div>
</div>
<!-- /.row -->

<!-- Projects Row -->
<div class="row">
<div class="col-md-3 portfolio-item">
<a href="/games/10">
<img class="img-responsive" src="/assets/fallout4/fallout4.jpg" alt="">Fallout 4
</a>
</div>
<div class="col-md-3 portfolio-item">
<a href="/games/11">
<img class="img-responsive" src="/assets/pokemonx/pokemonx.jpg" alt="">Pokemon X
</a>
</div>
<div class="col-md-3 portfolio-item">
<a href="/games/12">
<img class="img-responsive" src="/assets/talesofberseria/talesofberseria.png" alt="">Tales of Berseria
</a>
</div>
<div class="col-md-3 portfolio-item">
<a href="/games/13">
<img class="img-responsive" src="/assets/fireemblemheroes/fireemblemheroes.jpg" alt="">Fire Emblem Heroes
</a>
</div>
</div>
<!-- /.row -->

<hr>

<!-- Pagination -->
<div class="row text-center" id:"pagination">
<div class="col-lg-12">
<ul class="pagination">
<li>
<a href="#">&laquo;</a>
</li>
<li class="active">
<a href="game1">1</a>
</li>
<li>
<a href="game2">2</a>
</li>
<li>
<a href="game3">3</a>
</li>
<li>
<a href="game4">4</a>
</li>
<li>
<a href="game5">5</a>
</li>
<li>
<a href="#">&raquo;</a>
</li>
</ul>
</div>
</div>
<!-- /.row -->

</div>

