 <table class="table table-striped">
    <thead>
      <tr>
        <th class="col-md-3">Game Title</th>
        <th class="col-md-6">Description</th>
      </tr>
    </thead>

    <tbody>
        <% @games.each do |game| %>
     
            <tr>
                <td><%= game.title %></td>
                <td><%= game.description %></td>
            
            </tr>
        <% end %>
    </tbody>

  </table>
  